<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>	<key>Label</key>	<string>org.baboonstack.redis-server</string>	<key>Program</key>	<string>/usr/share/litixsoft/baboonstack/redisio/bin/redis-server</string>	<key>ProgramArguments</key>	<array>		<string>redis-server</string>		<string>/usr/share/litixsoft/baboonstack/redisio/redis.darwin.conf</string>	</array>	<key>RunAtLoad</key>	<true/>	<key>KeepAlive</key>	<true/>	<key>StandardErrorPath</key>	<string>/usr/share/litixsoft/baboonstack/redisio/log/error.log</string>	<key>StandardOutPath</key>	<string>/usr/share/litixsoft/baboonstack/redisio/log/output.log</string></dict></plist>