<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>  <key>Label</key>  <string>org.baboonstack.mongod</string>  <key>ProgramArguments</key>  <array>    <string>/usr/share/litixsoft/baboonstack/mongo/bin/mongod</string>    <string>run</string>    <string>--config</string>    <string>/usr/share/litixsoft/baboonstack/mongo/mongod.darwin.conf</string>  </array>  <key>RunAtLoad</key>  <true/>  <key>KeepAlive</key>  <true/>  <key>WorkingDirectory</key>  <string>/usr/share/litixsoft/baboonstack/mongo</string>  <key>StandardErrorPath</key>  <string>/usr/share/litixsoft/baboonstack/mongo/log/error.log</string>  <key>StandardOutPath</key>  <string>/usr/share/litixsoft/baboonstack/mongo/log/output.log</string></dict></plist>